 

<div class="background-static"></div>
<div class="ContentMainContainer containerHomeHeader" style="position: fixed; width: 100%;    z-index: 1;" >
	<h3 class="containerHomeHeaderheadings">

		<a  ng-click="redirect()" class="HomeIconForStore"><i class="fa fa-home" aria-hidden="true" style="margin-left: 7%;"></i></a>
	</h3>
	<h4 class="containerHomeHeaderheadings containerHomeHeaderheadingsFont"><a  ng-click="redirect()" class="HomeIconForStore">Home</a>&nbsp;&nbsp;></h4>

	<h5 class="containerHomeHeaderheadings containerMiniHeaderheadingsFont">Help </h5>
	<h5 class="containerHomeHeaderheadings"></h5>

</div>
<!-- <br><br><br>// commented by me on 27/02/2019 -->
<div class="ContentMainContainer">



	<div class="custom_tab">	
		<div class="tab_heading">
			<ul >
			<li class="active">
					<a href tabindex="3" >Need Help?</a>
			</li>
		</ul>		
		</div>
		
		
		
		<div class="containerNotRequired">
			<div class="tab_panelNotRequired">			
				
						<div class="filter-block" style="padding-left: 6%;">
						<div class="form-inline" style="    margin-left: 0%;">
							<div class="row helprow header_HelpText" >
								<h5 class="header_HelpTextContent">Click on the bellow links for help :</h5>
							</div>
							<div class="row helprow helpRowBackground well" >	
								<div class="col-md-12 col-sm-12 col-lg-12 helpVideoDiv">
									<a href="https://s3.amazonaws.com/bale-route-tracking-application/Bale+Route+Tracking+App+-+Supplier+Web+Portal+Training/story.html" target="_blank" class="a_text"> <b class="a_boldText">Bale Route Tracking App - </b><u>Supplier Web Portal Training</u></a>
								</div>
							</div>
							<div class="row helprow helpRowBackground well" >
								<div class="col-md-12 col-sm-12 col-lg-12 helpVideoDiv">
									<a href="https://s3.amazonaws.com/bale-route-tracking-application/Bale+Route+Tracking+App+-+Driver+Training/story.html" class="a_text" target="_blank"><b class="a_boldText"> Bale Route Tracking App -</b> <u>Driver Training</u></a>
								</div>								
							</div>
							
					</div>
				</div>



				<div class="filter-block" style="padding-left: 6%;">
						<div class="form-inline" style="    margin-left: 0%;">
							
							<div class="row helprow helpRowBackground well" >	
								<div class="col-md-4 col-sm-4 col-lg-4 helpVideoDiv">
								<video width="75%"  height="160px" class="videoAlignment" controls>
  								<source src="https://s3.amazonaws.com/bale-route-tracking-application/WebApp+Video+v1.mp4" type="video/mp4" >
  								</video>
							</div>
							<div class="col-md-8 col-sm-8 col-lg-8" >
								<h5><b>How Does the Web App Work?</b></h5>
								<p class="helpParagraph">This short video explains how the WM Web App can be used to compliment the Mobile App by managing information and to facilitate recording pickups for bale route services. </p>
							</div>
							</div>
							<div class="row helprow helpRowBackground well" >
								<div class="col-md-4 col-sm-4 col-lg-4 helpVideoDiv">
								<video width="75%" height="160px" class="videoAlignment" controls>
  									<source src="https://s3.amazonaws.com/bale-route-tracking-application/MobileApp+Video+v1.mp4" type="video/mp4" >
								</video>
							</div>
							<div class="col-md-8 col-sm-8 col-lg-8" >
								<h5><b>How Does The Mobile App Work?</b></h5>
								<p class="helpParagraph">This short video explains how the WM Mobile App can be used to record and track pickups for bale route services. </p>
								
								
							</div>								
							</div>
							
					</div>
				</div>


				<!-- <div class="filter-block" >
					<div class="form-inline">
						<div class="row helprow well">
							<div class="col-md-4 col-sm-4 col-lg-4 helpVideoDiv">
								<video width="75%"  class="videoAlignment" controls>
  								<source src="https://s3.amazonaws.com/bale-route-tracking-application/WebApp+Video+v1.mp4" type="video/mp4" >
  								</video>
							</div>
							<div class="col-md-8 col-sm-8 col-lg-8" >
								<h5><b>How Does The Mobile App Work?</b></h5>
								<p class="helpParagraph">This short video explains how the WM Mobile App can be used to record and track pickups for bale route services. </p>
							</div>
						</div>
						<div class="row helprow well">
							<div class="col-md-4 col-sm-4 col-lg-4 helpVideoDiv">
								<video width="75%" height="17%" class="videoAlignment" controls>
  									<source src="https://s3.amazonaws.com/bale-route-tracking-application/MobileApp+Video+v1.mp4" type="video/mp4" >
								</video>
							</div>
							<div class="col-md-8 col-sm-8 col-lg-8" >
								<h5><b>How Does the Web App Work?</b></h5>
								<p class="helpParagraph">This short video explains how the WM Web App can be used to compliment the Mobile App by managing information and to facilitate recording pickups for bale route services. </p>
							</div>
							
						</div>
						
					

						</div> 
					</div>  -->
				
					
			</div>
		</div>
		
		</div>
	</div>
	
