
/****** Object:  Table [dbo].[SCAndRMTStoreMappingWithLatLong]    Script Date: 4/5/2019 12:38:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SCAndRMTStoreMappingWithLatLong](
	[Id] [int] NOT NULL,
	[SCStoreId] [int] NOT NULL,
	[StoreName] [nvarchar](30) NOT NULL,
	[BaleCustomerId] [int] NOT NULL,
	[ShortName] [nvarchar](30) NOT NULL,
	[FullName] [nvarchar](30) NOT NULL,
	[Longitude] [nvarchar](30) NOT NULL,
	[Latitude] [nvarchar](30) NOT NULL,
	[Field1] [nvarchar](30) NULL,
	[Field2] [int] NULL,
	[CreatedDate] [smalldatetime] NULL,
	[UpdatedDate] [smalldatetime] NULL,
	[UpdatedBy] [nvarchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[SCAndRMTStoreMappingWithLatLong] ([Id], [SCStoreId], [StoreName], [BaleCustomerId], [ShortName], [FullName], [Longitude], [Latitude], [Field1], [Field2], [CreatedDate], [UpdatedDate], [UpdatedBy]) VALUES (1, 1, N'SUP1', 532, N'Supercenter FM Reg 5-1', N'Supercenter FM Reg 5-1', N'-94.14898000', N'36.33130200', NULL, NULL, CAST(0xAA250081 AS SmallDateTime), CAST(0xAA250081 AS SmallDateTime), NULL)
INSERT [dbo].[SCAndRMTStoreMappingWithLatLong] ([Id], [SCStoreId], [StoreName], [BaleCustomerId], [ShortName], [FullName], [Longitude], [Latitude], [Field1], [Field2], [CreatedDate], [UpdatedDate], [UpdatedBy]) VALUES (2, 2, N'SUP2', 532, N'Supercenter FM Reg 5-1', N'Supercenter FM Reg 5-1', N'-93.13891470', N'36.26897700', NULL, NULL, CAST(0xAA250081 AS SmallDateTime), CAST(0xAA250081 AS SmallDateTime), NULL)
INSERT [dbo].[SCAndRMTStoreMappingWithLatLong] ([Id], [SCStoreId], [StoreName], [BaleCustomerId], [ShortName], [FullName], [Longitude], [Latitude], [Field1], [Field2], [CreatedDate], [UpdatedDate], [UpdatedBy]) VALUES (3, 4, N'SUP4', 532, N'Supercenter FM Reg 5-1', N'Supercenter FM Reg 5-1', N'-94.51262000', N'36.18347000', NULL, NULL, CAST(0xAA250081 AS SmallDateTime), CAST(0xAA250081 AS SmallDateTime), NULL)
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__SCAndRMT__520DB6523692BFCD]    Script Date: 4/5/2019 12:38:30 PM ******/
ALTER TABLE [dbo].[SCAndRMTStoreMappingWithLatLong] ADD UNIQUE NONCLUSTERED 
(
	[StoreName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [UQ__SCAndRMT__DF6C838AC58B8904]    Script Date: 4/5/2019 12:38:30 PM ******/
ALTER TABLE [dbo].[SCAndRMTStoreMappingWithLatLong] ADD UNIQUE NONCLUSTERED 
(
	[SCStoreId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SCAndRMTStoreMappingWithLatLong] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[SCAndRMTStoreMappingWithLatLong] ADD  DEFAULT (getdate()) FOR [UpdatedDate]
GO
